extends layout

block scripts
	script(src='/scripts/typehead.js')
	script(src='/scripts/stats.js')

block content
	h1.stats= title
	
	p.upper.total.posts #{totalPosts} total posts
		
	p.removed Some names have been removed to protect the innocent.
	
	div.people.stats#comments
		h2
			strong Top Commentors
			em These helpful people replied the most.
		ul
			each person in commentors
				li
					a(href='#',data-toggle='modal',data-target='#lookup')
						img(src=person.photo)
						strong=person.name
						em  (#{person.fbComments } comments)
					
	div.people.stats#requesters
		h2
			strong Top Requesters
			em These lovely people required the most.
		ul
			each person in requesters
				li
					a(href='#',data-toggle='modal',data-target='#lookup')
						img(src=person.photo)
						strong=person.name
						em  (#{person.fbPosts } posts)
	
	button.btn.toggleRank.btn-large(type='button',data-toggle='modal',data-target='#lookup') Find your rank

	form.modal.fade#lookup(role="dialog",aria-labelledby="lookupLabel",aria-hidden="true")
		.modal-dialog
			.modal-content
					.modal-header
						button(type='button',class='close',data-dismiss='modal',aria-hidden='true') &times;
						h3.modal-title#lookupLabel Find Your Rank
					.modal-body
						.control-group
							label.control-label(for='name') Name: 
							.controls
								input.name#name(type='text',autocomplete='off')
						.rankStat.posts.control-group
							span.control-label Posts in RoR:
							.controls
								span.number
									|  Number: 
									strong 120
								span.rank
									|  Rank: 
									strong 120
						.rankStat.comments.control-group
							span.control-label Comments in RoR:
							.controls
								span.number
									|  Number: 
									strong 120
								span.rank
									|  Rank: 
									strong 120
					.modal-footer
						input.btn.btn-primary(type='submit',value='Lookup')
						button.btn(data-dismiss='modal',aria-hidden='true') Close